@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500&family=Nunito:wght@200;300;400;500;700&display=swap');

body {
    font-family: 'Alkatra', cursive;
    font-family: 'Nunito', sans-serif;
    margin: 0%;
}

a {
    text-decoration: none;
    color: white;
}

/* NAVBAR */
nav {
    background-color: rgb(59, 59,59);
    height: 14vh;
}

.logoytítulo {
    margin: auto 50px;
}

.CodoaCodoLogo { /* logo del navbar */
    margin-top: 5px;
    width: 110px; 
}

#nombreConferencia { /* título de conferencia en el navbar */
    display: inline;
    font-size: 3vh;
    color: white;
    margin-top: 20px;
    position: absolute;
}

.ítemsNavbar {  /* ítems del navbar */
    font-size: 3vh;
    float: right;
    
}

.ítemsNavbar li { /* ítems del navbar */
    list-style: none;
    padding: 10px;
    text-align: right;
    display: inline-block;
}

.ítemsNavbar li a {  /* cada uno de los ítems del navbar */
    text-decoration: none;
    color: rgb(153, 153, 153);
}

#botónUno {
    color: white;
}

#botónCinco {
    color: green;
}


/* IMAGEN PRINCIPAL Y TEXTO */
.divisorImagenTexto { /* divisor de la imagen y el div con el texto principal */
    position: relative;
    display: inline-block;
    text-align: right;
}

.imagenPrincipal { /* imagen principal de la página */
    width: 100%;
    filter: brightness(50%);
    object-fit: none;
}

.textoImagenPrincipal { /* texto principal y botones */
    color: white;
    display: block;
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-26%, -50%);
}

.títuloImagen {  /* título de el texto principal */
    font-size: xx-large;
}

.textoImagen { /* texto principal sobre la imagen principal */ 
    line-height: 1.5em;
}

/* botones de la imagen principal */
.botónUno {
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
}

.botónDos {
    margin-left: 2%;
    background-color: rgb(42, 165, 42);
    padding: 11px;
    border-radius: 5px;
}

/* BOTONES DE LA IMAGEN PRINCIPAL */
.botón {
    margin: 5px;
    width: 50px;
    height: 100px;
}

/* CAJAS DE LOS ORADORES */
.títuloConocerOradores { /* título CONOCE A LOS ORADORES */
    text-align: center;
}

.títuloConocerOradores h2 span {
    font-size: small;
}

.orador {  /* divisores de cada uno de los oradores */
    display: inline-block;
    margin-left: 2%;
    margin-bottom: 2%;
    width: 26%;
    border: 1px solid rgb(221, 221, 221);
}

.imagenOrador {
    height: 400px;
}

#oradorUno { /* primera caja de los oradores - Steve Jobs */
    margin-left: 120px;
}

.orador img { /* imágenes de las cajas */
    width: 100%;
    object-fit: cover;
    margin-bottom: 30px;
}

/* TÍTULO DEBAJO DE LAS IMÁGENES DE LAS CAJAS DE ORADORES */
.orador h4 { /* propiedad general de los h4 debajo de las imágenes */
    display: inline;
    font-size: small;
    border-radius: 5px;
    padding: 2%;
}

.cajaJavascript {
    background-color: yellow;
    margin-left: 20px;
}

.cajaReact {
    background-color: rgb(28, 158, 201);
    color: white;
}

.cajaNegocios {
    background-color: gray;
    color: white;
    margin-left: 20px;
}

.cajaStartups {
    background-color: red;
    color: white;
}

.nombreCaja { /* nombre del orador dentro de las cajas */
    margin-left: 20px;
    margin-bottom: 25px;
}

.orador p { /* texto de las cajas de los oradores*/
    font-size: small;
    line-height: 2em;
    margin: 0 20px 20px 20px;
}


/* TEXTO DE HONOLULU Y TEXTO DE BS AS - OCTUBRE */
.buenosAiresOctubre {
    border-top: 1px solid black;
    padding: 1px;
    display: flex;
    flex-direction: row;
    gap: 1px;
}

/* IMAGEN DE HONOLULU */
.imagenHonolulu {
    width: 50%;
    height: 430px;
    float: left;
    object-fit: cover;
}

/* TEXTO DE LA IMAGEN DE HONOLULU */
.textoImagenHonolulu {
    background-color: rgb(59, 59, 59);
    color: white;
    float: right;
    width: 50%;
    height: 430px;
}

#títuloHonolulu, #descripciónHonolulu { /* título y descripción de Bs As - Octubre */
    margin: 20px 10px 20px 15px;
}


.textoImagenHonolulu a { /* BOTÓN de Conocé Más de Bs As - Octubre */
    text-decoration: none;
    border: 1px solid white;
    padding: 7px;
    border-radius: 5px;
    margin-left: 15px;
}

/* TÍTULO - CONVIÉRTETE EN ORADOR - SOBRE EL FORM DE SUSCRIPCIÓN */
#conviérteteEnOrador, form {
    text-align: center;
}

#conviérteteEnOrador {
    font-size: larger;
}

#conviérteteEnOrador h2 span { /* CONVIÉRTETE SPAN */
    font-size: small;
}

#conviérteteEnOrador p { /* TEXTO SOBRE EL FORMULARIO DE SUSCRIPCIÓN */
    font-size: medium;
}

/* FORMULARIO */
form {
    align-items: left;
}

#inputNombre, #inputApellido { /* inputs de Nombre y Apellido de el formulario de suscripción */
    width: 20%;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 3px;
}

#inputApellido {
    margin-left: 25px;
}

textarea {
    width: 43%;
    font-size: larger;
    border:1px solid rgb(168, 168, 168);
    border-radius: 3px;
}

.textoFormDebajo { /* texto entre el formulario de suscripción y el botón de enviar*/
    font-size: small;
    color: rgb(104, 102, 102);
    margin: auto 0px 20px -350px;
}

form button { /* botón de enviar de el formulario de suscripción */
    width: 45%;
    padding: 10px;
    background-color: rgb(126, 202, 55);
    border: none;
    color: white;
    font-size: medium;
    border-radius: 5px;
}

/* FOOTER ÍTEMS */
.ítemsFooter { /* clase de el divisor del footer */
    background: rgb(19,25,43);
    background: linear-gradient(90deg, rgba(19,25,43,1) 0%, rgba(11,60,173,1) 100%);
}

#listadoFooter { /* lista de el footer (ul) */
    list-style: none;
    margin: 10px auto auto;
    align-items: center;
    height: 15vh;
    display: flex;
    width: 90%;
    justify-content: space-between;
}

/* medida de pantalla de celular con 730px de ancho */
@media screen and (max-width: 730px) {
    /* IMAGEN CON TEXTO PRINCIPAL */
    .imagenPrincipal {
        height: 110vh;
    }
    .botónUno, .botónDos {
        display: flex;
        margin: 20px;
    }
    /* CARDS DE LOS ORADORES */
    .divisorCajasOradores {
        display: flex;
        flex-direction: row;
        width: 150;
    }
    .orador h4 {
        display: none !important;
    }
    .orador .nombreCaja {
        margin-top: auto;
        text-align: center;
    }
    .orador p {
        text-align: center;
    }
    /* FOOTER */
    #listadoFooter {
        font-size: 1em;
        display: inline-block;
        text-align: center;
    }
    #listadoFooter li {
        padding: 10px;
    }
}