@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;1,200&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
}

/* LOGO DE CODO A CODO EN EL NAVBAR*/
.CodoaCodoLogo {
    position: absolute;
    width: 100px;
    margin: 0px 70px;
}

/* ÍTEMS DEL NAVBAR */
nav {
    display: block;
    background-color: rgb(71, 71, 71);
    height: 70px;
}

.ítemsNavbar { /* PADRE DE LOS ÍTEMS DE LISTA */
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: 400px;
}

.ítemsNavbar li a{  /* ÍTEMS DEL NAVBAR (HIJO) */
    text-decoration: none;
    padding: 0px 10px;
    color: rgba(255, 255, 255, 0.514);
}

#primerÍtem {
    color: white;
}

#últimoÍtem {
    color: rgb(21, 141, 21);
}

/* BOTONES DE LA IMAGEN PRINCIPAL */
.botón {
    margin: 5px;
    padding: 10px;
    width: 50px;
    height: 100px;
    border-radius: 12px;
    border: 2px groove rgba(0, 0, 0, 0.23);
    text-decoration: none;
}
